<div class="paragraph">
    <H1>HOW ng-cli WORKS?!..</H1>
    <div class="textContainer">
        Angular CLI is a pretty cool tool, feature of Angular whis those we'll start on our tour.
        
<p>
    So...Let's Go ! ! !
</p>
        If You are reading this text
        it's more likely that You realize basics of <a href="https://developer.mozilla.org/en-US/docs/Learn/HTML">HTML</a>,
        <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">CSS</a>,
        <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">JS</a>,
        and already installed <a href="https://nodejs.org/uk/download/">Node JS</a>
        (that includes <a href="https://www.npmjs.com/">Node Package Manager</a>)
        and some kind of <a href="https://en.wikipedia.org/wiki/Integrated_development_environment">IDE</a>
        (like <a href="https://code.visualstudio.com/download">VSCode</a>).
<p>
    You can use the Angular CLI to run commands in your terminal for generating, building, testing, and deploying Angular applications.
</p>
<p>To install the Angular CLI, run the following command in your <a href="https://code.visualstudio.com/docs/editor/integrated-terminal">terminal:</a></p>
<div class="codeFrame">
    npm install -g @angular/cli
</div>
<p>
    It'll install Angular CLI globaly (-g) whis help of Node Package Manager.
    It may not works w\o </p><div class="codeFrame">sudo</div> in some cases according to the features of Debian-cored OS and <a href="https://en.wikipedia.org/wiki/Bash_(Unix_shell)">Bash</a>.
    <br>
    <br>
    <div>
        If You allready installed Angular CLI You may check its' version by command:<div class="codeFrame">ng v</div>
        <br>Than You may see something like this on your output:
        <br>
        <div class="imageContent">
            <!-- <img src="./ng-bash.png" width="1271" height="672"> -->
        </div>
        <br>
        <div>
            Angular CLI can help You create your first <a href="https://en.wikipedia.org/wiki/Single-page_application">single-page application</a>.<br>
            Simply just choose in your command-line a directory wich will be main-containing (root) relatively to your project.<br>
            And than type command <div class="codeFrame" alt="command">ng new</div>& e.g.<div class="codeFrame" alt="project-name">simple-angular</div> < as your project title name in your terminal window. 

            <div class="codeFrame">cd</div>& e.g.<div class="codeFrame">simple-angular</div>
            and than <div class="codeFrame">ng serve -o</div> that is requred to run localhost (& open it in a new window what flag -o means (--open also))
            
        </div>
    </div>
        

    
    </div>

