
.imageContent {
    margin-left: 10vw;
    margin-top: 2vw;
    width: 620px;
    height: 335px;
    z-index: 500;
    background-image: url("./ng-bash.png");
    background-size: cover;
    margin-left: 4vw;
    /* margin-right: 30vw; */
    
}

.imageContentt {
    margin-left: 10vw;
    margin-top: 2vw;
    width: 200px;
    height: 335px;
    z-index: 500;
    background-image: url("./ng-g-c.png");
    background-size: cover;
    margin-left: 4vw;
}

.imageContenttt {
    margin-left: 10vw;
    margin-top: 2vw;
    width: 600px;
    height: 335px;
    z-index: 500;
    background-image: url("./ng-help.png");
    background-size: cover;
    margin-left: 4vw;
}