body {
    background-color: rgba(136, 51, 63, 0.699);
    overflow-x: hidden;
  }



  h1 {
    margin-top: -0.1vw;
    display: inline-block;
    z-index: 666;
    margin-left: 5vw;
    color: rgb(255, 208, 0);
    position: relative;
    box-shadow: 0px 0px 33px 33px rgba(255, 238, 0, 0.479);
    padding-left: 3vw;
    padding-right: 3vw;
    /* text-align: justify; */
    /* width: 50vw; */
    /* vertical-align: super; */
}

.mainTitle {
    /* display: block; */
    width: 100%;
    height: 100%;
    color: rgb(89, 0, 255);
    /* display: flex; */
    font-size: 10vw;
    /* background-attachment:scroll ; */
    position: fixed;
    top:36vw;
    left:15vw;
    text-align: center;
    z-index: -666;
    /* background-size:cover; */
    text-shadow: rgb(255, 250, 230) 0 0 25px;
    opacity: 0.55;

    
}


.paragraph {
    width: 100vw;
    display: block;
    text-align: left;
    z-index: 666;
    position: relative;
    color: black;
    /* margin-right: 3vw; */
    /* margin-left: 3vw; */
}

.textContainer {
    margin: 3vw;
    text-align: left;
    
    
}


.codeFrame {
    display: inline-block;
    margin: 10px;
    background-color: black;
    color: green;
}

#spaceadd {
    position: relative;
    display: inline;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-right: 1.5vw;
}